* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
}

body {
  font-size: 1.6rem;
}

.wrapper {
  padding: 20px;
  max-width: 980px;
  margin: auto;
}
.deleteButtonImg {
  width: 2em;
  transform: rotateZ(45deg);
  transition: transform 200ms ease-in;
}
.deleteButtonImg:hover {
  transform: rotateZ(0);
}

.completed {
  text-decoration: line-through;
}
.todo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}
.newTodo {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;

  border-bottom: 1px solid lightgrey;
}
.newTodo__input {
  flex-grow: 1;
  padding: 5px;
  border: none;
}
.newTodo__button {
  font-size: 2rem;
  background-color: transparent;
  border: none;
}
